#promotionPage {
  width: 100%;

  .content-padding {
    padding-left: 0;
    padding-right: 0;

    & > * {
      padding-left: 20px;
    }
  }

  .promotion-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 5px 20px;
    box-sizing: border-box;
    scrollbar-color: royalblue transparent;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
