.promotion {
  display: flex;
  flex-direction: column;

  .sub-content-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sub-content {
      border-top: 1px dotted black;
      padding-top: 10px;
    }
  }
}
