.promotion-list > article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  gap: 15px;
  width: fit-content;
  min-width: 235px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
