:root {
  --primary-color: royalblue;
  --light-primary-color: rgb(120, 150, 240);
  --primary-text-color: white;
}

html,
body,
#root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: lightblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85.7cqh;
}

.box {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  width: fit-content;

  & > h2 {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > fieldset {
    display: flex;
    flex-direction: column;

    & > label {
      font-size: small;
      color: grey;
    }

    & > .error {
      font-size: small;
      color: red;
    }
  }
}

button,
input[type="submit"] {
  background-color: royalblue;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px;
  border-width: 1px;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  color: lightgray;
}

button.red,
input[type="submit"].red {
  background-color: red;
}

.merged-buttons {
  display: flex;
  gap: 0;
}

.merged-buttons > button {
  border-radius: 0;
}

.merged-buttons > .right {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.merged-buttons > .left {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

section:not(.Toastify) {
  padding: 20px;
  box-sizing: border-box;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
